<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="~{fragments::head}">
    <script src="path/to/chatbox-initialization.js"></script>
</head>

<body>
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="images/image1.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Denni Trần Shop</strong></h1>
                        <p class="m-b-40">Come find us! <br> Where there are quality services and products for you!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/image2.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>Welcome To <br> Denni Trần Shop</strong></h1>
                        <p class="m-b-40">Come find us! <br> Where there are quality services and products for you!</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="images/image3.jpg" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <h1 class="m-b-20"><strong>Welcome To <br> Denni Trần Shop</strong></h1>
                        <p class="m-b-40">Come find us! <br> Where there are quality services and products for you!</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg></a>
        <a href="#" class="prev"><svg xmlns="http://www.w3.org/2000/svg" height="30" width="30" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg></a>
    </div>
</div>
<!-- End Slider -->


<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="images/Intro.png" alt="" style="width: 100%; height: auto;" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Chúng tôi là <span>Denni Trần Shop</span></h2>
                <p>Denni Trần Shop là một địa chỉ mua sắm trực tuyến phong cách và đa dạng,
                    nổi bật với sự chất lượng và sự độc đáo trong từng sản phẩm. Với sứ mệnh mang
                    lại trải nghiệm mua sắm trực tuyến thuận lợi và đẳng cấp,
                    Denni Trần Shop tự hào cung cấp cho khách hàng bộ sưu tập đa dạng từ thời trang,
                    đồ điện tử đến đồ gia dụng.</p>
                <p>Sự chăm sóc khách hàng là ưu tiên hàng đầu của Denni Trần Shop,
                    với đội ngũ nhân viên thân thiện và nhiệt tình sẵn sàng hỗ trợ khách hàng mọi lúc.
                    Ngoài ra, việc cam kết về chất lượng sản phẩm và dịch vụ là nguồn động viên để Denni
                    Trần Shop ngày càng phát triển và được lòng đông đảo người tiêu dùng.</p>
                <p>Cho dù bạn đang tìm kiếm những bộ trang phục thời trang mới, thiết bị điện tử hiện đại
                    hay những vật dụng gia đình tiện ích, Denni Trần Shop là địa chỉ đáng tin cậy để khám
                    phá và đưa vào giỏ hàng những sản phẩm độc đáo và phong cách.</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Tại sao lại chọn chúng tôi?</h3>
                    <p>Denni Trần Shop tự hào với chất lượng sản phẩm và dịch vụ xuất sắc. Được xây dựng trên
                        niềm tin và sự chuyên nghiệp, chúng tôi cam kết mang đến trải nghiệm mua sắm đáng tin
                        cậy, đa dạng và hài lòng cho khách hàng. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chúng tôi chuyên nghiệp</h3>
                    <p>Denni Trần Shop là biểu tượng chuyên nghiệp với đội ngũ nhân viên tận tâm
                        và cam kết chất lượng. Chúng tôi không ngừng nỗ lực mang đến trải nghiệm mua
                        sắm tốt nhất cho khách hàng, là nơi tin tưởng và đáng tin cậy.
                    </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chúng tôi là chuyên gia</h3>
                    <p>Rất tốt! Nếu có bất kỳ câu hỏi cụ thể nào hoặc nếu bạn cần sự hỗ trợ trong lĩnh
                        vực nào đó, đừng ngần ngại để chúng tôi biết. Chúng tôi là chuyên gia, và chúng
                        tôi ở đây để giúp bạn! </p>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; margin-top: 10vh;">
        <iframe width="800" height="450" src="https://www.youtube.com/embed/9C_ta0bh21A?si=37qByU3MapDMQqWF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>


<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">

</footer>


<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>