<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head th:replace="~{fragments::head}">
    <script src="path/to/chatbox-initialization.js"></script>
</head>

<body>
    <!-- Start Main Top -->
    <div th:replace="~{fragments::main-top}">

    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header th:replace="~{fragments::main-header}" >
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div th:replace="~{fragments::top-search}">
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div th:replace="~{fragments :: all-title-box}">
    </div>
    <!-- End All Title Box -->

    <section id="login-form">
        <div class="noi-dung">
            <div class="form">
                <h2>Log In</h2>
                <div th:if = "${param.error}" class="alert alert-danger text-center">
                    Invalid username or password
                </div>
                <div th:if = "${param.logout}" class="alert alert-success text-center">
                    You have been logged out!
                </div>
                <form th:action="@{/do-login}" method="post">
                    <div class="input-form">
                        <input type="text" placeholder="Name" name="username" required>
                    </div>
                    <div class="input-form">
                        <input type="password" placeholder="Password" name="password">
                    </div>
                    <div class="input-form">
                        <input type="submit" value="Log In">
                    </div>
                    <div class="input-form">
                        <p>Do You Already Have An Account ? <a th:href="@{/register}">Sign up now  </a></p>
                    </div>
                </form>
                <h3>Log In With Social Network</h3>
                <ul class="icon-dang-nhap">
                    <li><svg xmlns="http://www.w3.org/2000/svg" height="16" width="10" viewBox="0 0 320 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M279.1 288l14.2-92.7h-88.9v-60.1c0-25.4 12.4-50.1 52.2-50.1h40.4V6.3S260.4 0 225.4 0c-73.2 0-121.1 44.4-121.1 124.7v70.6H22.9V288h81.4v224h100.2V288z"/></svg>
                    </li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" height="16" width="15.25" viewBox="0 0 488 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"/></svg>
                    </li>
                </ul>
            </div>
        </div>

    </section>
    </section>
    <!-- Start copyright  -->
    <footer th:replace="~{fragments::footer}"></footer>
    <!-- End copyright  -->

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- ALL JS FILES -->
    <div th:replace="~{fragments::script}"></div>
</body>

</html>