<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->
<head>
    <div th:replace="~{fragments::head}"></div>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="path/to/chatbox-initialization.js"></script>
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}"></div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}"></header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}"></div>
<!-- End Top Search -->

<!-- Start All Title Box -->
<div th:replace="~{fragments::all-title-box}"></div>
<!-- End All Title Box -->

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1" data-slide-to="2"></li>
                        <li data-target="#carousel-example-1" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <!-- Image 1 -->
                        <div class="carousel-item active">
                            <img class="d-block w-100" th:src="'data:image/jpeg;base64,' + ${productDetail.image}" alt="First slide">
                        </div>
                        <!-- Image 2 -->
                        <div class="carousel-item">
                            <img class="d-block w-100" th:src="'data:image1/jpeg;base64,' + ${productDetail.image1}" alt="Second slide">
                        </div>
                        <!-- Image 3 -->
                        <div class="carousel-item">
                            <img class="d-block w-100" th:src="'data:image2/jpeg;base64,' + ${productDetail.image2}" alt="Third slide">
                        </div>
                        <!-- Image 4 -->
                        <div class="carousel-item">
                            <img class="d-block w-100" th:src="'data:image3/jpeg;base64,' + ${productDetail.image3}" alt="Fourth slide">
                        </div>
                        <!-- Image 5 -->
                        <div class="carousel-item">
                            <img class="d-block w-100" th:src="'data:image4/jpeg;base64,' + ${productDetail.image4}" alt="Five slide">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <form th:action="@{/add-to-cart}" method="post">
                    <div class="single-product-details">
                        <h2 th:text="${productDetail.name}"></h2>
                        <h5 th:text="${#numbers.formatDecimal(productDetail.costPrice, 0, 'COMMA', 2, 'POINT')} + ' VNĐ'"></h5>
                        <h4>Short Description:</h4>
                        <p th:utext="${productDetail.description.replaceAll('\n', '<br>')}"></p>
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn">
                                <input type="hidden" th:value="${productDetail.id}" name="id" class="form-control">
                                <input type="submit" class="btn hvr-hover" value="Add to cart">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>Related Products</h1>
            </div>
            <div class="featured-products-box owl-carousel owl-theme">
                <div class="item" th:each="product : ${products}">
                    <form th:action="@{/add-to-cart}" method="post">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img th:src="'data:image/jpeg;base64,' + ${product.image}" class="img-fluid"
                                     alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a th:href="@{/product-detail/{id}(id = ${product.id})}"
                                               data-toggle="tooltip"
                                               data-placement="right"
                                               title="View">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M572.5 241.4C518.3 135.6 410.9 64 288 64S57.7 135.6 3.5 241.4a32.4 32.4 0 0 0 0 29.2C57.7 376.4 165.1 448 288 448s230.3-71.6 284.5-177.4a32.4 32.4 0 0 0 0-29.2zM288 400a144 144 0 1 1 144-144 143.9 143.9 0 0 1 -144 144zm0-240a95.3 95.3 0 0 0 -25.3 3.8 47.9 47.9 0 0 1 -66.9 66.9A95.8 95.8 0 1 0 288 160z"/></svg>
                                        </a></li>
                                    </ul>
                                    <input type="hidden" th:value="${product.id}" name="id" class="form-control">
                                    <input type="submit" class="btn hvr-hover" value="Add to cart">
                                </div>
                            </div>
                            <div class="why-text">
                                <h4 th:text="${product.name}"></h4>
                                <h5 th:text="${#numbers.formatDecimal(productDetail.costPrice, 0, 'COMMA', 2, 'POINT')} + ' VNĐ'"></h5>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Review Form -->
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card border-primary">
                <div class="card-header text-center text-white" style="font-size: 1.2em; background-color: #007BFF;">
                    Bình Luận
                </div>
                <div class="card-body">
                    <form th:action="@{'/product-detail/' + ${product.id} + '/add-review'}" method="post">
                        <!-- User Information -->
                        <div class="form-group">
                            <label for="username">Your Name:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>

                        <div class="form-group">
                            <label for="phone">Your Phone:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" required>
                        </div>

                        <div class="form-group">
                            <label for="email">Your Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>

                        <!-- Product Rating -->
                        <div class="form-group">
                            <label for="rating">Rating:</label>
                            <select class="form-control" id="rating" name="rating">
                                <option value="1">1 Star</option>
                                <option value="2">2 Stars</option>
                                <option value="3">3 Stars</option>
                                <option value="4">4 Stars</option>
                                <option value="5">5 Stars</option>
                            </select>
                        </div>

                        <!-- Review Text -->
                        <div class="form-group">
                            <label for="comment">Review:</label>
                            <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                        </div>

                        <!-- Submit Button -->
                        <button type="submit" class="btn btn-primary float-right">Submit Review</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Display Reviews Section -->
    <div class="container mt-5">
        <h2 class="text-center mb-4">Product Review</h2>
        <div class="row text-center">
            <!-- Loop through and display reviews -->
            <div th:each="review : ${productReview}" class="col-md-4 mb-5 mb-md-0">
                <div class="d-flex justify-content-center mb-4">
                    <!-- Default review image -->
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
                         class="rounded-circle shadow-1-strong" width="150" height="150" />
                </div>
                <h5 class="mb-3" th:text="${review.username}"></h5>
                <p class="px-xl-3" th:text="${review.comment}"></p>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                    <!-- You can adjust the rating based on your actual data -->
                    <li th:each="star : ${#numbers.sequence(1, review.rating)}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                    </li>
                    <!--<li th:each="emptyStar : ${#numbers.sequence(1, 5 - review.rating)}">
                        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512">&lt;!&ndash;!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.&ndash;&gt;<path d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>
                    </li>-->
                </ul>
            </div>
            <!-- End of review loop -->
        </div>
    </div>


</div>
</div>

<!-- End Cart -->

<!-- Start Feed  -->
<div th:replace="~{fragments::instagram-box}">
</div>

<!-- End Feed  -->


<!-- Start Footer  -->
<footer th:replace="~{fragments::footer}">
</footer>

<div th:replace="~{fragments::script}"></div>
</body>

</html>